* {
  text-align: center;
  color: white;
} 

body, html {
  height: 100%;
  background-color: black;
}

.hero-image {
  background-image: url("hero.jpg");
  height: 40%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

h1 {
  font-size: 6em;
}

h2 {
  font-size 4em;

}
h3 {
  font-size 2em;
}
