:root {
  --md-sys-color-background: #2A292C;
  --md-sys-color-on-background: #e6e6e6;
  --md-sys-color-surface: #1e1e1e;
  --md-sys-color-on-surface: #ffffff;
  --md-sys-color-primary: #ff7ab8;
  --md-sys-color-primary-container: #4a1031;
}
* {
  text-align: center;
  color: white;
  font-family: 'Roboto', sans-serif;
} 
body, html {
  height: 100%;
  background-color: var(--md-sys-color-background);
}
.hero-image {
  background-image: url("hero.webp");
  min-height: 40vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.hero-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 95vw;
  padding: 0 2vw;
  box-sizing: border-box;
}

h1 {
  font-size: clamp(4rem, 2.875rem + 5.625vw, 9.625rem);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  margin-top: 1vw;
  margin-bottom: 1vw;
  line-height: 1;
}
h2 {
  font-size: clamp(1.1875rem, 0.585rem + 3.0125vw, 4.2rem);
  margin-top: 0vw;
  margin-bottom: 1vw;
}
h3 {
  font-size: 1.2rem;
}
nav {
  padding: 10px 0;
  display: flex;
  justify-content: space-evenly;
}
a {
  color: var(--md-sys-color-primary);
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
