* {
  text-align: center;
  color: white;
  font-family: 'Roboto', sans-serif;
} 

.content {
  max-width: 500px;
  margin: auto;
}

body, html {
  height: 100%;
  background-color: black;
}

h1 {
  font-size: 6em;
  margin-top: 1.5vw;
  margin-bottom: 1.5vw;
}
h2 {
  font-size: 2.5em;
}
h3 {
  font-size: 1.5em;
}

a {
  text-decoration: none;
  font-size: 1.2em;
  letter-spacing: 1px;
}

a:hover {
  color: #ccc;
}
